*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

.screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

input, textarea, button{
  padding:10px;
  margin:5px;
}

button{
  background:#003b71;
  color:white;
  border:none;
}

.card{
  background:#f4f6f8;
  padding:15px;
  margin:15px 0;
  border-radius:6px;
}

.hidden{
  display:none;
}

#error{
  color:red;
}
